---
const { href, title, body, thumbnail, price } = Astro.props;
---

<article class="contents__item card">
  <a class="contents__list" href={href}>
    <img
      class="contents__pic"
      src=`/01_ecsite/images/${thumbnail}`
      alt={title}
    />
    <div class="contents__info">
      <h2>{title}</h2>
      <p>{price}</p>
    </div>
  </a>
</article>
