---
const { frontmatter } = Astro.props;
---

<slot />
<h2>{frontmatter.title}</h2>
<p>¥{frontmatter.price}</p>
<p>{frontmatter.text}</p>
<dl>
    <dt>品番</dt>
    <dd>{frontmatter.id}</dd>
    <dt>メーカー</dt>
    <dd>{frontmatter.maker}</dd>
</dl>
